billing.yral.com {
	encode gzip

	log {
		output file ./logs/billing-access.log
		format json
	}

	reverse_proxy yral-billing:3000

	tls {
		protocols tls1.2 tls1.3
	}

	header {
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		X-XSS-Protection "1; mode=block"
		Referrer-Policy "strict-origin-when-cross-origin"
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		-Server
	}
}
